.container {
    -fx-padding: 20;
    -fx-pref-width: 600;
    -fx-spacing: 20;
    -fx-background-color: white;
    -fx-background-radius: 12;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.field-container {
    -fx-spacing: 5;
    -fx-alignment: center-left;
}

.field-container .label {
    -fx-font-size: 14;
}

.field-container .text-field {
    -fx-background-color: none;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: grey;
    -fx-font-size: 14;
    -fx-max-width: 300;
}

.button-container {
    -fx-spacing: 20;
    -fx-alignment: center-right;
}

.button-container .button {
    -fx-background-color: #699ae4;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 7 30;
}

.button-container .cancel-button {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: black;
}

.warning {
    -fx-font-size: 14;
    -fx-text-fill: red;
}

.field-container .date-picker {
    -fx-background-color: none;
}

.spinner-container {
    -fx-spacing: 10;
    -fx-alignment: center-left;
}

.field-container .spinner {
    -fx-background-color: none;
    -fx-pref-width: 80;
    -fx-text-alignment: center;
}

.field-container .text-area {
    -fx-background-color: transparent;
    -fx-pref-height: 100;
    -fx-border-color: grey;
    -fx-border-radius: 12;

    -fx-font-size: 14;
}

.list-view {
    -fx-pref-height: 170;
    -fx-border-width: 0;
    -fx-background-radius: 12;
    -fx-padding: 10;
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
}

.list-view .list-cell {
    -fx-padding: 10 10 15;
    -fx-background-insets: 5;
    -fx-background-color: none;
}

.list-view .list-cell:selected {
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 12;
}

.list-view .list-cell:selected .label {
    -fx-text-fill: black;
}